atlassian-python-api==3.41.11
backoff==2.2.1
beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
Deprecated==1.2.14
idna==3.7
jmespath==1.0.1
Markdown==3.6
oauthlib==3.2.2
pathspec==0.12.1
requests==2.31.0
requests-oauthlib==2.0.0
six==1.16.0
soupsieve==2.5
urllib3==2.2.1
wrapt==1.16.0
